#search_input{
    background-color: rgb(39, 39, 39);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    width: 65%;
}


.product_container{
    background-color: rgb(39, 39, 39);
    margin: 20px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    display: inline-block;
    padding: 20px;
    max-width: 30%;
    box-sizing: border-box !important;
}
.card_name{
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 2px !important;
}
.products_icons{
    background-color: var(--main_color) !important;
    padding: 8px !important;
    color: #fff !important;
    margin-left: 5px !important;
    transition: all .3s !important;
}
.products_icons:hover{
    transform: scale(1.05);
}
#product_name_input-label, 
#product_price_input-label, 
#add_product_input_name-label, 
#add_product_input_color-label, 
#add_product_input_price-label{
    color: #000000 !important;
}
#product_name_input, 
#product_price_input, 
#add_product_input_name, 
#add_product_input_color, 
#add_product_input_price{
    color: #000000 !important;
}
.MuiIconButton-root, 
.MuiIconButton-root.Mui-disabled{
    color: #ffffff ;
}
@media(max-width: 1150px){
    .card_atr{
        font-size: 13px;
    }
    .MuiTypography-h6{
        font-size: 1.2em !important;
    }
    .MuiButton-root{
        font-size: 0.8em !important;
    }
}
@media(max-width: 998px){
    #search_input{
        width: 85%;
        font-size: 14px;
    }
    .card_name{
        font-size: 10px;
    }
    .card_atr{
        font-size: 12px;
    }
    .product_container{
        max-width: 40%;
    }
    .MuiSvgIcon-root{
        width: 0.8em !important;
        height: 0.8em !important;
    }
}
@media(max-width: 768px){
    #search_input{
        width: 90%;
        font-size: 13px;
    }
    .product_container{
        width: 90% !important;
        max-width: 90% !important;
    }
    .MuiTypography-h6{
        font-size: 1em !important;
    }
    #product_name_input-label, 
    #product_price_input-label{
        font-size: 0.8em !important;
    }
    #product_name_input, 
    #product_price_input{
        font-size: 0.8em !important;
    }
    .MuiButton-root{
        font-size: 0.65em !important;
    }
}
@media(max-width: 450px){
    #search_input{
        width: 95%;
    }
    .product_container{
        width: 95% !important;
        max-width: 95% !important;
        margin: 15px 0px !important;
    }
    .MuiTypography-h6{
        font-size: 0.9em !important;
    }
    .default_text{
        font-size: 0.9em;
    }
}