#modal_add_days_button_action{
    background-color: var(--main_color);
}

.MuiPickersToolbar-toolbar{
    background-color: var(--main_color) !important;
}
.MuiPickersDay-daySelected{
    background-color: var(--main_color) !important;
}

.MuiTypography-h6{
    font-weight: 600 !important;
}
.MuiButton-textPrimary{
    color: var(--main_color) !important;
    font-weight: 600 !important;
    border: 1px solid var(--main_color) !important;
    margin-left: 20px !important;
    transition: all .3s;
}
.MuiButton-textPrimary:hover{
    color: #ffffff !important;
    background-color: var(--main_color) !important;
}
.MuiDialogActions-root{
    padding: 20px !important;
}
.MuiFormLabel-root.Mui-focused{
    color: var(--main_color) !important;
}
.MuiFormControl-marginDense{
    margin-top: 15px !important;
    margin-bottom: 10px !important;
}
@media(max-width: 600px){
    #add_day_form{
        div{
            width: 100% !important;
        }
    }
}